@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

:root {
    --bg-color-violet: hsl(257, 40%, 49%);
    --button-transition-color: hsl(11, 98%, 78%);
}

body {
    background: var(--bg-color-violet) url("bg-desktop copy.svg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    align-items: flex-start;
}


.left {
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    margin-top: 40px;
    margin-bottom: 50px;
}

.main-illustration {
    margin-top: 50px;
}

.motto {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    line-height: 1.5;
}

.description {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1.5;
}

.right {
    margin: 250px 85px 0 50px;
}

.register-button {
    background-color: white;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    color: var(--bg-color-violet);
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    width: 200px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.register-button:hover {
    background-color: var(--button-transition-color);
    color: white;
}

.login-button {
    background-color: white;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    color: var(--bg-color-violet);
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    width: 200px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--button-transition-color);
    color: white;
}

.admin-login-button {
    background-color: white;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    color: var(--bg-color-violet);
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    width: 200px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.admin-login-button:hover {
    background-color: var(--button-transition-color);
    color: white;
}

