<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  Reset Css -->
    <link rel="stylesheet" th:href="@{reset.css}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--  Custom Css -->
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">

    <title>Admin Page</title>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a th:href="@{http://localhost:8080/welcome}" class="w3-bar-item w3-button"><b>VG</b> Travel</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a th:href="@{http://localhost:8080/signUp}" class="w3-bar-item w3-button">Sign Up</a>
            <a th:href="@{http://localhost:8080/login}" class="w3-bar-item w3-button">Login</a>
            <a th:href="@{http://localhost:8080/admin-login}" class="w3-bar-item w3-button">Admin Access</a>
        </div>
    </div>
</div>

<br />
<br />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Admin Page</h1>
        <p class="lead">create new admin, create and manage the tours, and so on.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img th:src="@{firstIllustration.jpg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">New Tour</h5>
                    <p class="card-text">Create new tour and share it with clients.</p>
                    <a href="createTour" class="btn btn-primary">Create New Tour</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img th:src="@{firstIllustration.jpg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Display Tours</h5>
                    <p class="card-text">Have a Look at all the Available Tours.</p>
                    <a href="displayAllTours" class="btn btn-primary">Display All Tours</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img th:src="@{firstIllustration.jpg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">New Tour</h5>
                    <p class="card-text">Create new tour and share it with clients.</p>
                    <a href="#" class="btn btn-primary">Add this Tour</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>