<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  Reset Css -->
    <link rel="stylesheet" th:href="@{reset.css}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <title>display tours</title>
</head>
<body>

<h1>Available Tours</h1>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Departure Date</th>
        <th>Arrival Date</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tour : ${allTours}">
        <td><span th:text="${#dates.format(tour.getDepartureDate(), 'dd-MMM-yyyy')}"> departureDate </span></td>
        <td><span th:text="${#dates.format(tour.getArrivalDate(), 'dd-MMM-yyyy')}"> arrivalDate </span></td>
        <td><span th:text="${tour.getPrice()}"> price </span></td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" th:href="@{http://localhost:8080/showCompleteReservation/{tourId}(tourId=${tour.getId()})}">Select</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>