<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  Reset Css -->
    <link rel="stylesheet" th:href="@{reset.css}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <title>Complete Reservation</title>
</head>
<body class="bg-light" data-gr-c-s-loaded="true">

<div class="container">

    <div class="py-5 text-center">
       <h2>
           Complete Reservation
       </h2>
        <p class="lead">
            Fill Passenger Info below
        </p>
    </div>

    <div class="col-md-9 order-md-4 mb-9">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your Tour Info</span>
            <span class="badge badge-secondary badge-pill">™</span>
        </h4>

        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h3 class="my-0">
                        Departure Date
                    </h3>
                </div>
                <span class="text-muted" th:text="${tour.getDepartureDate()}">
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h3 class="my-0">
                        Arrival Date
                    </h3>
                </div>
                <span class="text-muted" th:text="${tour.getArrivalDate()}">
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span class="text-success">Total (USD)</span>
                <strong class="text-success" th:text="${tour.getPrice()}"></strong>
            </li>
        </ul>

        <div class="col-md-12 order-md-4">
            <h4 class="mb-3">
                Client Details
            </h4>

            <form th:action="@{http://localhost:8080/completeReservation/{tourId}(tourId=${tour.getId()})}" method="post" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-6">
                        <label for="firstName">
                            First Name
                            <input type="text" class="form-control" id="firstName" placeholder="first name" required />
                        </label>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="lastName">
                            Last Name
                            <input type="text" class="form-control" id="lastName" placeholder="last name" required />
                        </label>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="email">
                        Email
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com" />
                </div>
                <div class="mb-4">
                    <label for="phone">
                        Phone Number
                    </label>
                    <input type="text" class="form-control" id="phone" placeholder="+994123215476" />
                </div>
                <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Checkout</button>
            </form>

        </div>

    </div>

<!--<form action="completeReservation" method="post">-->
<!--    <pre>-->
<!--<h2>Client Details:</h2>-->
<!--    First Name: <input type="text" name="firstName" />-->
<!--    Last Name: <input type="text" name="lastName" />-->
<!--    Email: <input type="text" name="email" />-->
<!--    Phone: <input type="text" name="phone" />-->

<!--    <input type="hidden" name="id" value="${tour.id}" />-->
<!--    <input type="submit" value="confirm" />-->
<!--    </pre>-->
<!--</form>-->

</div>
</body>
</html>