<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{reset.css}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:400,300}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{signupPageStyle.css}">
    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">

    <script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>

    <script>
        $( function() {
            $( "#forDepartureDate" ).datepicker();
        } );
        $( function() {
            $( "#forArrivalDate" ).datepicker();
        } );
    </script>

    <title>Create A Tour</title>
</head>
<body>

<form action="createTour" method="post">

    <h1>Create New Tour</h1>

    <fieldset>

        <legend><span class="number">1</span>The basic info</legend>

        <label for="forDepartureDate">Departure Date</label>
        <input type="date" id="forDepartureDate" name="departureDate">

        <label for="forArrivalDate">Arrival Date</label>
        <input type="date" id="forArrivalDate" name="arrivalDate">

        <label for="forPrice">Price</label>
        <input type="text" id="forPrice" name="price">

    </fieldset>

    <fieldset>

        <legend><span class="number">2</span>Add custom Info</legend>
        <label for="forDescription">Description:</label>
        <textarea id="forDescription" name="description"></textarea>

    </fieldset>

    <button type="submit">Create new Tour</button>

</form>

</body>
</html>