<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  Reset Css -->
    <link rel="stylesheet" th:href="@{reset.css}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <title>Deleted Successfully</title>
</head>
<body>

<div class="jumbotron">
    <h1 class="display-4">The Tour Deleted Successfully</h1>
    <p class="lead">You will not see deleted tour in the list.</p>
    <hr class="my-4">
    <p>See below buttons to navigate.</p>
    <a class="btn btn-warning btn-lg" th:href="@{http://localhost:8080/displayAllTours}" role="button">Back to the List</a>
</div>

</body>
</html>