<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>display tours</title>
</head>
<body>

<h1>Available Tours</h1>

<table>

    <tr>
        <th>Departure Date</th>
        <th>Arrival Date</th>
        <th>Price</th>
    </tr>

    <tr th:if="${tours.isEmpty()}">
        <td colspan="2"> No Tours Available </td>
    </tr>
    <tr th:each="tour : ${tours}">
        <td><span th:text="${tour.getDepartureDate()}"> departureDate </span></td>
        <td><span th:text="${tour.getArrivalDate()}"> arrivalDate </span></td>
        <td><span th:text="${tour.getPrice()}"> price </span></td>
        <td><a th:href="@{showCompleteReservation/{tourId}(tourId=${tour.getId()})}">Select</a></td>
    </tr>

</table>

</body>
</html>