<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{./images/favicon-32x32.png}" />

    <!--  Reset Css -->
    <link rel="stylesheet" th:href="@{reset.css}" />

    <!--  Custom Css -->
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">

    <!--  Font Awesome -->
    <script th:src="@{https://kit.fontawesome.com/0db57fa39c.js}" crossorigin="anonymous"></script>

    <title>Flight Reservation Application</title>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a th:href="@{http://localhost:8080/welcome}" class="w3-bar-item w3-button"><b>VG</b> Travel</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a th:href="@{http://localhost:8080/signUp}" class="w3-bar-item w3-button">Sign Up</a>
            <a th:href="@{http://localhost:8080/login}" class="w3-bar-item w3-button">Login</a>
            <a th:href="@{http://localhost:8080/admin-login}" class="w3-bar-item w3-button">Admin Access</a>
        </div>
    </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" th:src="@{/red-hammock-tied-between-two-trees-1450372.jpg}" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>VG</b></span> <span class="w3-hide-small w3-text-light-grey">Travel</span></h1>
    </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
                <img th:src="@{/hotel-1.jpg}" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
                <img th:src="@{/hotel-2.jpg}" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
                <img th:src="@{/hotel-3.jpg}" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
                <img th:src="@{/hotel-4.jpg}" alt="House" style="width:100%">
            </div>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
                <img th:src="@{/hotel-5.jpg}" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
                <img th:src="@{/hotel-6.jpg}" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
                <img th:src="@{/hotel-1.jpg}" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
                <img th:src="@{/hotel-2.jpg}" alt="House" style="width:99%">
            </div>
        </div>
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>Developed by <a th:href="@{https://www.instagram.com/vagif.guliyev/}" title="Vagif Guliyev" target="_blank" class="w3-hover-text-green">Vagif Guliyev</a></p>
</footer>

</body>
</html>