<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{reset.css}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:400,300}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{signupPageStyle.css}">

    <!--  Custom Css -->
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">

    <title>Login</title>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a th:href="@{http://localhost:8080/welcome}" class="w3-bar-item w3-button"><b>VG</b> Travel</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a th:href="@{http://localhost:8080/signUp}" class="w3-bar-item w3-button">Sign Up</a>
            <a th:href="@{http://localhost:8080/login}" class="w3-bar-item w3-button">Login</a>
            <a th:href="@{http://localhost:8080/admin-login}" class="w3-bar-item w3-button">Admin Access</a>
        </div>
    </div>
</div>

<br />
<br />
<br />

<form action="login" method="post">

    <h1>Log In</h1>

    <fieldset>
        <legend><span class="number">1</span>Welcome Back :)</legend>
        <label for="forUsername">Username:</label>
        <input type="text" id="forUsername" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </fieldset>
    <button type="submit">Log In</button>

</form>


</body>
</html>