<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation Confirmation</title>
</head>
<body>

<h1 th:text="${msg}"></h1>

</body>
</html>